{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf %}
{% block title %} title  {% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="{{url_for('main.comment', id = pitch.id)}}" method="POST">

                <div class="card">
                    <div class="card-body">
                        <h1>Comments</h1>
                        <br>
                        <p class="card-text">"" {{pitch.description }}. ""</p>
                    </div>
                </div>

                <div class="form-group">

                    <input type="text" class="form-control" id="comment" name="comment"
                        placeholder="Add a comment for this pitch..." required>
                </div>
                <button type="submit" class="btn btn-primary">COMMENT</button>

            </form>
        </div>

    </div><br><br>
    <div class="row">
        {% for comment in comments %}
        <div class="col">
            <blockquote>
                <p>{{ comment.description }}</p>
                <footer>comment by: <cite title="Source Title">{{ comment.user.username }}</cite></footer>
            </blockquote>
        </div>
        {% endfor %}


    </div>

    <br><br><br>
</div>

{% endblock %}