{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="col-md-4">

        {{ wtf.quick_form(PitchForm) }}
        {{simplemde.load}}
    </div>
    <div class="card">
        <form>
            <label for="pitch">Post a pitch</label>
            <input type="text" placeholder="Say something...">
            <label for="category">Category Of Pitch</label>
            <input type="text" placeholder="ie success,love">
        </form>
    </div>

</div>

{% endblock %}